.login-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f2f2;
}

h2 {
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  font-weight: bold;
}

input {
  width: 300px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  padding: 0.5rem 4rem;
  background-color: #a9cb10;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.buttons {
  text-align: center;
}
.error-message{
    text-align: center;
  color: red;
}
